<div class="jumbotron">
    <h2><span>Order your favorite $5 pizza and we'll deliver it to you.</span></h2>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "bj_logo.jpg" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "gp_logo.png" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "hh_logo.jpg" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "lc_logo.jpg" %>
    </a>
  </div>
</div>